*{
    padding: 0;
    margin: 0;
}

.background{
    background-color: #0408131A;
}

nav{
    background-color: transparent;
    padding: 25px 0;
    padding-left: 10px;
    a{
        border: 1px solid rgba(22, 22, 22, 0);
        font-size: large;
        padding: 5px;
        text-decoration: none;
    }
    a:nth-child(1){
        color: red;
    }
    a:nth-child(2){
        color: #038e1a;
        margin: 25px;
    }
    a:hover{
		border: 1px solid;
		border-radius: 5px;
		cursor: pointer;
	}
}

.main{
    width: 50%;
    margin: 50px auto;
    background-color: rgb(187, 185, 185);
    border-radius: 10px;
}

.image{
    position: relative;
    margin-bottom: 0;
}

.image img{
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}


.text-area{
    background-color: #ffffff;
    padding: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -10px;
}

header{
    padding-bottom: 20px;
}
span{
    font-size: 14px;
    font-weight: 600;
    color: rgb(113, 110, 110);
}
.img-tag{
    background-color: yellow;
    padding: 10px 10px;
    width: 30%;
    position: absolute;
    top: 8px;
    left: -10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}


@media screen and (max-width: 769px) {
    .background{
        padding: 0;
        margin: 0;
    }
    .main{
        width: 100%;
    }
    .main, .image img, .text-area{
        border-radius: 0;
    }
    .img-tag{
        padding-left: 20px;
    }
    
}

@media screen and (max-width: 426px) {
    .img-tag{
        max-width: 50%;
        font-size: 13px;
        font-weight: 500;
        padding-left: 20px;
    }
}